*{
    padding: 0px;
    margin: 0px;
    font-family: "Tiro Kannada", serif;

}
header{
    height:70px;
    background-color: #91b9da;
    width: auto;
}

header img{
    width: 70px;
    margin: 0 20px;
}

.menu {
    text-decoration: none;
    margin-left: 70%;
    text-align: start;
}