*{
    margin: 0px;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header nav{
    background-color: beige;
}
section{
    background-color: blue;
}